{% extends "base.html" %}
{%from "help.html" import render_field %}
{% block main %}
<style>
    .tabela{
        width: 70%;
        margin: 0 auto;
        margin-top: 2%;
    }
    .tabela tbody tr:hover{
        background-color: lightgrey;
    }
    tr{
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color: white;
    }
    .table{
        border: solid 1px black;
    }
</style>
<style>
    .form{
        text-align: center;
    }
</style>
    {% if pessoas: %}
    <div class='tabela'>
    <table class="table">
            <thead>
                <tr>
                    <th style="text-align: center;">Nome</th>
                    <th></th>
                </tr>
            </thead>
        {% for pessoa in pessoas %}
            <tbody>
                <tr>
                    <th style="font-weight:normal;">{{pessoa.nome}} {{pessoa.sobrenome}}</th>
                    <td style="text-align: left;"><button type="button" class="btn btn-secondary btn-sm"><a href="/verPessoa/{{pessoa.id}}">Ver pessoa</a></button></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    </div>
    {% else %}
    <div style="background-color: lightgrey; margin: 10%; margin-top: 5%; padding: 2%; padding-top: 1%;padding-bottom: 3%; border: solid 1px grey;">
        <p style="color:black; font-size: 150%;">Para poder adicionar pessoas é preciso pelo menos ter duas salas e dois espaços para café cadastrados no sistema</p>
    </div>
    {% endif %}
</div>
{% endblock %}