{% extends "base.html" %}
{%from "help.html" import render_field %}
{% block main %}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastroSala">Cadastrar Sala</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastroPessoa">Cadastrar Pessoa</a>
    </li>
</ul>
<style>
    .form{
        text-align: center;
    }
</style>
<div class="form">
<form action="/index" method="post">
    {{form.csrf_token}}
    {{render_field(form.nome)}}
    {{form.submit}}
</form>
</div>
{% endblock %}