{% extends "base.html" %}
{%from "help.html" import render_field %}
{% block main %}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastroSala">Cadastrar Sala</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastroPessoa">Cadastrar Pessoa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastroCafe">Cadastrar Espaços de café</a>
    </li>
</ul>
<style>
    .form{
        text-align: center;
    }
</style>
<div class="form">
<form action="/index" method="post">
    {{form.csrf_token}}
    {{render_field(form.nome)}}
    {{form.submit}}
</form>
</div>
<div>
    {% if pessoas: %}
    <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        {% for pessoa in pessoas %}
            <tbody class="table-hover">
                <tr>
                    <th scope="row">{{pessoa.nome}}</th>
                    <td><a href="/verPessoa/{{pessoa.id}}">Ver pessoa</a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    {% else %}
    
    {% endif %}
</div>
{% endblock %}