{% extends "base.html" %}
{% block main %}
<style>
  .table tbody tr:hover{
    background-color: lightgrey;
  }
  .table{
    width: 65%;
    border: solid 1px black;
    margin: 0 auto;
    margin-top: 1%;
  }
  h2{
    text-align: center;
    margin-top: 3%;
  }
  th, td {
    border: solid 1px black;
  }
</style>
<table class="table">
  <h2>Etapa 1</h2>
    <thead>
      <tr>
        <th style="width: 20%;" scope="col"></th>
        <th scope="col">Nome</th>
        <th scope="col" style="width: 5%;">Lotação</th>
      </tr>
    </thead>
    <tbody">
      <tr>  
        <td style="font-weight: bold;">Sala</td>
        <td>{{pessoa.pessoas1[0].nome}}</td>
        <td style="text-align: center;">{{pessoa.pessoas1[0].lotacao}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Espaço para café</td>
        <td>{{pessoa.pessoas1[1].nome}}</td>
        <td></td>
      </tr>
    </tbody>
</table>

<table class="table">
  <h2>Etapa 2</h2>
    <thead>
      <tr>
        <th style="width: 20%;" scope="col"></th>
        <th scope="col">Nome Sala</th>
        <th scope="col" style="width: 5%;">Lotação</th>
      </tr>
    </thead>
    <tbody class="table">
        <tr>  
          <td style="font-weight: bold;">Sala</td>
          <td>{{pessoa.pessoas2[0].nome}}</td>
          <td style="text-align: center;">{{pessoa.pessoas1[0].lotacao}}</td>
        </tr>
      <tr>
        <td style="font-weight: bold;">Espaço para café</td>
        <th style="font-weight: normal;">{{pessoa.pessoas2[1].nome}}</th>
        <td></td>
      </tr>
    </tbody>
</table>
{% endblock %}