{% extends "base.html" %}
{% block main %}
<h2>Etapa 1</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nome Sala</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr>
        <td>{{sala1.nome}}</td>
        <td>{{sala1.lotacao}}</td>
      </tr>
    </tbody>
      <tr>
        <td>{{sala3.nome}}</td>
        <td>aqui</td>
      </tr>
  </table>
  <br><br>
<h2>Etapa 2</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nome Sala</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr>
        <th scope="row">{{sala2.nome}}</th>
        <td>{{sala2.lotacao}}</td>
      </tr>
      <tr>
        <th scope="row">{{sala4.nome}}</th>
        <td>nada</td>
      </tr>
    </tbody>
  </table>
{% endblock %}